{% extends 'base.html.twig' %}

{% block title %}Nos Habitats{% endblock %}

{% block body %}
    <section class="habitat-section mb-5">
        <h2 class="text-center">Nos Habitats</h2>
        <div class="row">
            {% for habitat in habitats %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if habitat.image %}
                            <img src="{{ asset('uploads/habitats/' ~ habitat.image) }}" alt="Image de {{ habitat.name }}"
                                 class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ habitat.name }}</h5>
                            <p class="card-text">{{ habitat.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
