{% extends 'base.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block body %}
<section class="service-section mb-5">
    <h2 class="text-center">Nos Services</h2>
    <div class="container">
        <div class="row">
            {% for service in services %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if service.image %}
                    <img src="{{ asset('uploads/services/' ~ service.image) }}" alt="Image de {{ service.name }}"
                        class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ service.name }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}