{% extends 'base.html.twig' %}

{% block title %}New Animal{% endblock %}

{% block body %}
    <h1>Create New Animal</h1>

    {{ form_start(form) }} {# Démarre le formulaire #}
        {{ form_widget(form) }} {# Affiche tous les champs du formulaire #}
        <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(form) }} {# Termine le formulaire #}

    <a href="{{ path('app_animal_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}
