{% extends 'base.html.twig' %}

{% block title %}Edit VeterinaryReport{% endblock %}

{% block body %}
    <h1>Edit VeterinaryReport</h1>

    {{ include('veterinary_report/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_veterinary_report_index') }}">back to list</a>

    {{ include('veterinary_report/_delete_form.html.twig') }}
{% endblock %}
